
{% extends "::layout.html.twig" %}

{% block title %} 
  Annonces - {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Annonces</h1>
  <hr>
 
  {% block blog_body %}
    
  {% endblock %}

  <div>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </div>

{% endblock %}