{% extends "TestBlogBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter une annonce</h2>

{{ include("TestBlogBundle:Advert:form.html.twig") }}
 
<!--<div class="well">
		{{ form(form) }}
	</div>  -->
	

	

{% endblock %}